{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="breadcrumb-area section-space--breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">

                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">{% trans "Haqqımızda" %}</h2>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'core:index' domain=current_site.name %}">{% trans "Ana Səhifə" %}</a></li>
                            <li class="active">{% trans "Haqqımızda" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content-wrapper">


        <div class="about-page-top-wrapper section-space">

            <div class="about-us-brief-wrapper section-space--small">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-12 ">
                            <div class="about-us-brief-desc">
                                {{ about.content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}