{% load mptt_tags %}
{% load i18n %}
<!DOCTYPE html>
<html class="no-js" lang="zxx" style="overflow-x: hidden;">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MarkaTekstil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">

    <link href="/static/css/vendors.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/revolution/css/settings.css" rel="stylesheet">
    <link href="/static/revolution/css/navigation.css" rel="stylesheet">
    <link href="/static/revolution/custom-setting.css" rel="stylesheet">

</head>

<body>

<div class="header-offer-sticker text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
    .blink {
        -webkit-animation: blink-anim 2s infinite; /* Safari 4+ */
        -moz-animation: blink-anim 2s infinite; /* Fx 5+ */
        -o-animation: blink-anim 2s infinite; /* Opera 12+ */
        animation: blink-anim 2s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blink-anim {
        from {
            color: rgb(246, 246, 246);
        }
        50% {
            color: #ff0000;
        }
        to {
            color: #FFFFFF;
        }
    }
</style>

<div class="header-area header-area--default header-area--default--white header-sticky">
    <div class="header-navigation-top" style="background: #000;">
        <div class="container wide">
            <div class="row align-items-center">
                <div class="col-8">
                    <div class="header-top-content-wrapper">
                        <div class="header-contact-info-wrapper">
                            <ul class="header-contact-info__list">
                                <li>
                                    <a style="color: #FFFFFF"
                                       href="{% url 'core:delivery'   domain=current_site.name %}">{% trans "Çatdırılma və ödəmə" %}</a>
                                </li>
                                <li>
                                    <a style="color: #FFFFFF"
                                       href="{% url 'core:pay-methods'   domain=current_site.name %}">{% trans "Məxfilik" %}</a>
                                </li>
                                <li>
                                    <a style="color: #FFFFFF"
                                       href="{% url 'core:about'   domain=current_site.name %}">{% trans "Haqqımızda" %}</a>
                                </li>
                                <li>
                                    <a style="color: #FFFFFF"
                                       href="{% url 'core:contact'  domain=current_site.name %}">{% trans "Əlaqə" %}</a>
                                </li>
                                <li>
                                    <a style="color: #FFFFFF"
                                       href="{% url 'core:faq'  domain=current_site.name %}">{% trans "FAQ" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="header-top-content-wrapper justify-content-end">
                        <div class="header-top-dropdown border-left-0 border-right-0">
                            <a class="blink" style="color: #FFFFFF">{% trans 'Səhifəni deyiş' %} <i
                                    class="pe-7s-angle-down"></i></a>
                            <ul class="header-top-dropdown__list" style="left: -60px !important">
                                {% for site in sites %}
                                    <li><a href="{% url 'core:index' domain=site.name %}">
                                        {{ site.name }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: 1px solid #eee;"
         class="header-navigation-area header-navigation-area--white header-navigation-area--extra-space d-none d-lg-block">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-info-wrapper header-info-wrapper--alt-style">
                        <div class="header-logo">
                            <a href="{% url 'core:index' domain=current_site.name %}">
                                <img style="max-width: 80px" src="{{ current_site.site_images.logo.url }}"
                                     class="img-fluid"
                                     alt="">
                            </a>
                        </div>
                        <div class="header-navigation-wrapper">
                            <nav>
                                <ul>
                                    {% for category in  categories_ %}
                                        <li class="has-children">
                                            <a style="text-transform: capitalize"
                                               href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                            <ul class="submenu submenu--column-3">
                                                {% recursetree category.get_descendants %}
                                                    <li>
                                                        <a class="{% if node.level == 1 %}text-black font-weight-bold{% endif %}"
                                                           href="{{ node.get_absolute_url }}">
                                                            {{ node.name }}
                                                        </a>
                                                        {% if node.is_leaf_node %}
                                                        {% else %}
                                                            <ul>
                                                                {{ children }}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                {% endrecursetree %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        <div class="header-icon-area">
                            <div class="header-icon d-flex align-items-center">
                                <ul class="header-icon__list">
                                    <li><a href="javascript:void(0)" id="search-icon-2"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'user:profile' %}"><i class="fa fa-user-circle"></i></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart:cart' %}"><i class="fa fa-shopping-basket"></i><span
                                                class="item-count">{{ cart.get_total_items }}</span></a>
                                        <div class="minicart-wrapper">
                                            <p class="minicart-wrapper__title">{% trans "Mini səbət" %}</p>

                                            <div class="minicart-wrapper__items ps-scroll">
                                                {% for i in cart %}
                                                    <div class="minicart-wrapper__items__single">
                                                        <a href="javascript:void(0)" class="close-icon"><i
                                                                class="pe-7s-close"></i></a>
                                                        <div class="image">
                                                            <a href="{{ i.product.get_absolute_url }}">
                                                                <img src="{{ i.product.get_thumbnail }}"
                                                                     class="img-fluid" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <p class="product-title">
                                                                <a href="{{ i.product.get_absolute_url }}">
                                                                    {{ i.product.title }}
                                                                </a></p>
                                                            <p class="product-calculation">
                                                                <span class="count">{{ i.quantity }}</span> x
                                                                <span class="price">{{ i.product_size.get_price }} AZN</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <p class="minicart-wrapper__subtotal">{% trans "Ümümi qiymət" %}:
                                                <span>{{ cart.get_total_cost }} AZN</span></p>

                                            <div class="minicart-wrapper__buttons">
                                                <a href="{% url 'cart:cart' %}"
                                                   class="theme-button theme-button--minicart-button">
                                                    {% trans "Səbətə keç" %}
                                                </a>
                                                <a href="{% url 'order:checkout' %}"
                                                   class="theme-button theme-button--alt theme-button--minicart-button theme-button--minicart-button--alt mb-0">{% trans "Sifariş et" %}</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% if request.user.is_authenticated %}
                                        <li>
                                            <a href="{% url 'user:logout' %}"><i class="fa fa-sign-out"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile-navigation d-block d-lg-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-6">
                    <div class="header-logo">
                        <a href="{% url 'core:index' domain=current_site.name %}">
                            <img style="max-width: 100px !important" src="{{ current_site.site_images.logo.url }}"
                                 class="img-fluid"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="mobile-navigation text-right">
                        <ul class="header-icon__list header-icon__list">
                            <li>
                                <a href="{% url 'cart:cart' %}"><i class="fa fa-shopping-basket"></i><span
                                        class="item-count">{{ cart.get_total_items }}</span></a>
                            </li>
                            <li>
                                <a href="{% url 'user:profile' %}"><i class="fa fa-user-circle"></i></a>
                            </li>
                            <li><a href="javascript:void(0)" class="mobile-menu-icon" id="mobile-menu-trigger"><i
                                    class="fa fa-bars"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=======  offcanvas mobile menu  =======-->

    <div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
        <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
            <i class="pe-7s-close"></i>
        </a>

        <div class="offcanvas-wrapper">

            <div class="offcanvas-inner-content">
                <div class="offcanvas-mobile-search-area">
                    <form action="{% url 'products:products' domain=current_site.name %}">
                        <input type="search" name="name" placeholder="{% trans 'Axtarış' %}">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <nav class="offcanvas-naviagtion">
                    <ul>
                        {% for category in categories_ %}
                            <li class="{% if category.has_children %} menu-item-has-children{% endif %}">
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if category.has_children %}
                                    <ul class="sub-menu">
                                        {% recursetree category.get_descendants %}
                                            <li class="{% if category.has_children %} menu-item-has-children{% endif %}">
{#                                                <span class="menu-expand"><i></i></span>#}
                                                <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                                                {% if not node.is_leaf_node %}
                                                    <ul class="sub-menu">
                                                        {{ children }}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endrecursetree %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <div class="header-contact-info">
                            <ul class="header-contact-info__list">
                                <li><i class="pe-7s-phone"></i> <a
                                        href="tel://{{ contact_info.phone }}">{{ contact_info.phone }}</a></li>
                                <li><i class="pe-7s-mail-open"></i> <a
                                        href="mailto:{{ contact_info.mail }}">{{ contact_info.email }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="off-canvas-widget-social">
                        {% for i in media %}
                            <a href="{{ i.link }}" title="{{ i.media }}"><i class="fa fa-{{ i.media }}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% block content %}

{% endblock %}

<div class="footer-area">
    {% csrf_token %}
    <div class="footer-navigation-area">
        <div class="container wide">
            <div class="row">
                <div class="col-xl-4 col-custom-xl-6 col-lg-6">
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">{% trans "Faydalı Linklər" %}</h4>
                                <nav class="footer-widget__navigation">
                                    <ul>
                                        <li>
                                            <a href="{% url 'core:about'   domain=current_site.name %}">{% trans "Haqqımızda" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'core:contact'  domain=current_site.name %}">{% trans "Əlaqə" %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'core:faq'  domain=current_site.name %}">{% trans "FAQ" %}</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">{% trans "Kateqoriyalar" %}</h4>
                                <nav class="footer-widget__navigation">
                                    <ul>
                                        {% for i in categories_ %}
                                            <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-custom-xl-6 col-lg-6">
                    <div class="footer-widget footer-widget--two">
                        <h4 class="footer-widget__title">{% trans "Sayta Abunə Ol" %}</h4>
                        <div class="newsletter-form-area">
                            <form action="{% url 'core:subscribe' domain=current_site.name %}" method="post"
                                  class="mc-form">
                                {% csrf_token %}
                                <div class="footer-widget__newsletter-form">
                                    <input name="email" type="email" placeholder="{% trans 'E-poçt' %}" required>
                                    <button type="submit">{% trans "Abunə ol" %}</button>
                                </div>
                            </form>
                        </div>
                        <!-- mailchimp-alerts Start -->

                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div><!-- mailchimp-alerts end -->

                    </div>

                    <div class="footer-widget footer-widget--two">
                        <span class="footer-widget__text footer-widget__text--two">{% trans 'Sosial Şəbəkələr' %}</span>
                        <ul class="footer-widget__social-links">
                            {% for i in media %}
                                <a href="{{ i.url }}" title="{{ i.media }}"><i
                                        class="fa fa-{{ i.media }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text text-center">
                        Copyright &copy; 2021 <a href="{% url 'core:index' domain=current_site.name %}">MarkaTekstil</a>.
                        Bütün hüquqlar qorunur
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-overlay" id="search-overlay">

    <!--=======  close icon  =======-->

    <span class="close-icon search-close-icon">
        <a href="javascript:void(0)" id="search-close-icon">
            <i class="pe-7s-close"></i>
        </a>
    </span>

    <div class="search-overlay-content">
        <div class="input-box">
            <form action="{% url 'products:products' domain=current_site.name %}">
                <input type="search" name="name" placeholder="{% trans 'Axtarış' %}">
            </form>
        </div>
    </div>

</div>

<div id="qv-1" class="cd-quick-view">
    <div class="cd-slider-wrapper">
        <div class="product-badge-wrapper">
            <span class="onsale"></span>
            <span class="hot"></span>
        </div>
        <ul class="cd-slider">
            <li class="selected"><img src="" alt="Product 2"></li>
        </ul> <!-- cd-slider -->
    </div> <!-- cd-slider-wrapper -->

    <div class="quickview-item-info cd-item-info ps-scroll">

        <h2 class="item-title"></h2>
        <p class="price">
            <span class="main-price discounted"></span>
            <span class="discounted-price"></span>
        </p>

        <p class="description"></p>
    </div> <!-- cd-item-info -->
    <a href="#0" class="cd-close">Close</a>
</div>

<!--=====  End of quick view  ======-->
<!-- scroll to top  -->
<button class="scroll-top">
    <i class="fa fa-angle-up"></i>
</button>


<!-- Vendor JS -->
<script src="/static/js/vendors.js"></script>

<!-- Active JS -->
<script src="/static/js/active.js"></script>

<!--=====  End of JS files ======-->


<!-- Revolution Slider JS -->
<script src="/static/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/static/revolution/revolution-active.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript"
        src="/static/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/static/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

</body>


</html>