{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

    <div class="breadcrumb-area section-space--breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <!--=======  breadcrumb wrapper  =======-->

                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">{% trans "Sifariş Bölməsi" %}</h2>
                        <ul class="breadcrumb-list">
                            <li><a href="{% url 'core:index' domain=current_site.name %}">{% trans "Ana Səhifə" %}</a></li>
                            <li class="active">{% trans "Sifariş Bölməsi" %}</li>
                        </ul>
                    </div>

                    <!--=======  End of breadcrumb wrapper  =======-->
                </div>
            </div>
        </div>
    </div>

    <div class="page-content-wrapper">
        <!--=======  checkout page wrapper  =======-->

        <div class="checkout-page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="checkout-form">
                            <!-- Checkout Form s-->
                            <form  method="post">
                            {% csrf_token %}
                                <div class="row row-40">
                                    <div class="col-lg-7">
                                        <!-- Billing Address -->
                                        <div id="billing-form" class="billing-form">
                                            <h4 class="checkout-title">{% trans "Əlaqə Məlumatları" %}</h4>
                                            <div class="row">
                                                {% for i in order_form %}
                                                    <div class="col-md-6 col-12">
                                                        <label>{{ i.label }}</label>
                                                        {% render_field i placeholder=i.label %}
                                                    </div>
                                                {% endfor %}

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-lg-5">
                                        <div class="row">
                                            <!-- Cart Total -->
                                            <div class="col-12">
                                                <h4 class="checkout-title">{% trans "Səbət Hesablanması" %}</h4>
                                                <div class="checkout-cart-total">
                                                    <h4>{% trans "Məhsul" %} <span>{% trans "Toplam" %}</span></h4>
                                                    <ul>
                                                        {% for i in cart %}
                                                            <li>{{ i.product.title }} X {{ i.quantity }}
                                                                <span>{{ i.total_price }} AZN</span></li>
                                                        {% endfor %}
                                                    </ul>
                                                    <h4>{% trans "Ümumi Qiymət" %}
                                                        <span>{{ cart.get_total_cost }} AZN</span></h4>
                                                </div>
                                            </div>

                                            <!-- Payment Method -->
                                            <div class="col-12">
                                                <button class="theme-button place-order-btn">{% trans "Sifrarişi tamamla" %}</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--=======  End of checkout page wrapper  =======-->
    </div>


{% endblock %}